html {
  font-size:24px;
}

body {
  background-color:rgb(196, 240, 255);
}

.newspaper {
  box-sizing:border-box;
  font-size:16px;
  font-family:Open Sans,sans-serif;
  background-color:white;
  color:black;
  width:90vw;
  height:auto;
  min-height:80vh;
  margin:50px auto;
  padding:20px 30px;
}

.name {
  font-size:2rem;
  font-family:Times New Roman,serif;
  text-align:center;
}

.name,.author {
  text-transform:uppercase;
}

.date {
  text-align:center;
}

.headline {
  font-size:2em;
  font-weight:bold;
}

.sub-headline {
  font-weight:100;
  font-size:1.5em;
  font-style:italic;
}

.author {
  font-weight:bold;
}

.text {
  text-indent:20px;
  line-height:2em;
}

.text::first-letter {
  font-weight:bold;
  font-size:2em;
}

footer {
  font-size:0.6rem;
  text-align:center;
}
