
body {
  background-color:#f4f4f4;
}

h1 {
  text-align:center;
}

.color-box {
  display:inline-block;
  width:10vw;
  min-width:80px;
  height:10vw;
  min-height:80px;
  margin-left:7vw;
  margin-right:auto;
  border-radius:10px;
  border:3px solid black;
}

.color1 {
  background-color:#FF0000;
}

.color2 {
  background-color:rgb(127,127,0);
}

.color3 {
  background-color:green;
}

.color4 {
  background-color:hsl(180,100%,50%);
}

.color5 {
  background-color:blue;
}

