html{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1{
  text-align:center;
}

.pricing-container{
  display:flex;
  flex-wrap:wrap;
}

.pricing-card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  flex:0 0 200px;
  border:2px solid black;
  margin:20px auto;
  padding:10px 0;
}

.basic-plan{
  order:0;
}

.pro-plan{
  order:1;
  flex-grow:2;
}

.premium-plan{
  order:2;
}